.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  margin:33.3%;
}

.loading-spinner {
  border: 8px solid #1d1f24;
  border-top: 8px solid #ff4747;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  animation: spin 1.5s linear infinite;
  margin-top:40.3%;
  cursor: progress!important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.dropdown-menu {
  display: none;
}

.dropdown-menu.show {
  display: block;
}

.rounded-full {
  border-radius: 50%;
}

.profile-container {
  position: relative;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border: 1.5px solid #ff4747;
  margin-top:50%;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 4px);
  right: 0;
  min-width: 120px;
  background-color: #0c0e14;
  color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 10;
  display: none;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  display: block;
  padding: 8px 12px;
  font-size: 14px;
  color: #ff4747!important;
  text-decoration:none!important;
  cursor: pointer;
  transition: background-color 0.2s;
}

.dropdown-item:hover {
  background-color: #f7fafc;
}

.hover\:bg-blue-700:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(29 78 216 / var(--tw-bg-opacity));
}

.bgyg{background-color:#1d1f24;margin-top:27%;color:#ff4747!important}

/*TAILWIND*/

@tailwind base;
@tailwind components;
@tailwind utilities;