<!-- Sticky header -->
<div id="atbs-sticky-header" class="sticky-header js-sticky-header">
    <!-- Navigation bar -->
    <nav class="navigation-bar navigation-bar--fullwidth hidden-xs hidden-sm">
        <div class="navigation-bar__inner">
            <div class="navigation-bar__section">
                <a href="#atbs-offcanvas-primary" title="View the full network sitemap."
                    class="offcanvas-menu-toggle navigation-bar-btn js-atbs-offcanvas-toggle">
                    <i class="fa-solid fa-bars"></i>
                </a>
                <div class="site-logo header-logo">
                    <a href="https://www.yeahgames.net">
                        <img src="https://cdn.yeahgames.net/img/branding/logos/default/logo.svg" alt="logo">
                    </a>
                </div>
            </div>

            <div class="navigation-wrapper navigation-bar__section js-priority-nav">
            </div>

        </div> <!-- .navigation-bar__inner -->
    </nav><!-- Navigation-bar -->
</div><!-- Sticky header -->
<!-- Off-canvas menu -->
<div id="atbs-offcanvas-primary" class="atbs-offcanvas js-atbs-offcanvas js-perfect-scrollbar">
    <div class="atbs-offcanvas__title">

        <h2 class="site-logo"><a href="https://www.yeahgames.net"><img
                    src="https://cdn.yeahgames.net/img/branding/logos/text/red.svg" title="yEAh" alt="logo"></a></h2>
        <br>
        <ul class="social-list list-horizontal">
            <li><a href="https://www.yeahgames.net/discord" target="_blank"
                    title="yEAh Games' official Discord server."><i class="fa-brands fa-discord"></i></a></li>
            <li><a href="mailto:admin@yeahgames.net" title="Email yEAh Games!" target="_blank"><i
                        class="fa-solid fa-envelope"></i></a></li>
            <li><a href="https://github.com/yEAh-Games" title="yEAh Games' official GitHub account." target="_blank"><i
                        class="fa-brands fa-github"></i></a></li>
            <li><a href="https://www.youtube.com/@yeahgames" title="yEAh Games' official YouTube channel"
                    target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
            <li><a href="https://www.reddit.com/r/yEAhGames/" title="yEAh Games' official subreddit." target="_blank"><i
                        class="fa-brands fa-reddit"></i></a></li>
            <li><a href="https://mstdn.social/@yeah" rel="me"
                    title="yEAh Games' official Mastodon account. Most news will be posted here." target="_blank"><i
                        class="fa-brands fa-mastodon"></i></a></li>
            <li><a href="https://twitter.com/yEAhGames_" title="yEAh Games' official Twitter account."
                    target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="https://instagram.com/_yEAhGames" title="yEAh Games' official Instagram account."
                    target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://en.gravatar.com/yeahgamesdevs" title="yEAh Games' official WordPress/Gravatar account."
                    target="_blank"><i class="fa-brands fa-stack-overflow"></i></a></li>
            <li><a href="https://stackoverflow.com/users/20908085/yeahgames"
                    title="yEAh Games' official Stack Overflow account." target="_blank"><i
                        class="fa-brands fa-stack-overflow"></i></a></li>
            <li><a href="https://myspace.com/yeahgames" title="yEAh Games' official MySpace account." target="_blank"></a>
                    <?xml version="1.0" encoding="utf-8"?><svg style="-moz-osx-font-smoothing:grayscale;font-weight:400" version="1.1" id="Layer_1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 122.88 73.56" style="enable-background:new 0 0 122.88 73.56" xml:space="preserve">
                        <g>
                            <path
                                d="M32.59,29.44c0-8.54-6.95-15.46-15.53-15.46c-8.57,0-15.53,6.92-15.53,15.46c0,8.54,6.95,15.47,15.53,15.47 C25.64,44.91,32.59,37.98,32.59,29.44L32.59,29.44z M101.82,42.54c-12.15,0-21.06,10.67-21.06,21.69v7.42l0,0 c0,1.05,0.86,1.91,1.91,1.91h0.68h36.94h0.68c1.06,0,1.92-0.87,1.92-1.91l0,0v-7.42C122.88,53.21,113.97,42.54,101.82,42.54 L101.82,42.54z M120.98,19.09C120.98,8.55,112.4,0,101.82,0S82.66,8.55,82.66,19.09s8.58,19.09,19.16,19.09 S120.98,29.64,120.98,19.09L120.98,19.09z M57.42,45.64c-10.94,0-18.96,9.6-18.96,19.52v6.68l0,0c0,0.94,0.77,1.72,1.73,1.72h0.61 h33.24h0.61c0.95,0,1.72-0.78,1.72-1.72l0,0v-6.68C76.37,55.24,68.35,45.64,57.42,45.64L57.42,45.64z M74.67,24.53 c0-9.49-7.72-17.18-17.25-17.18s-17.25,7.69-17.25,17.18c0,9.49,7.72,17.19,17.25,17.19S74.67,34.03,74.67,24.53L74.67,24.53z M17.06,48.44C7.21,48.44,0,57.08,0,66v6l0,0c0,0.85,0.69,1.55,1.55,1.55H2.1h29.92h0.55c0.86,0,1.56-0.7,1.56-1.55l0,0v-6 C34.12,57.08,26.9,48.44,17.06,48.44L17.06,48.44z" />
                        </g>
                    </svg>
                </a></li>
        </ul>
        <a href="#atbs-offcanvas-primary" class="atbs-offcanvas-close js-atbs-offcanvas-close" aria-label="Close"><span
                aria-hidden="true">&#10005;</span></a>
    </div>

    <div class="atbs-offcanvas__section atbs-offcanvas__section-navigation">
        <ul id="menu-offcanvas-menu" class="navigation navigation--offcanvas">
            <li class="menu-item">
                <a href="https://www.yeahgames.net"><i class="fa-solid fa-home"></i>&#160;&#160;Homepage</a>
            </li>
            <li class="menu-item">
                <a href="https://search.yeahgames.net/search"><i
                        class="fa-solid fa-magnifying-glass"></i>&#160;&#160;Search</a>
            </li>
            <li class="menu-item-has-children">
                <a href="https://accounts.yeahgames.net"><i class="fa-solid fa-key"></i>&#160;&#160;Accounts</a>
                <ul class="sub-menu">
                    <li><a href="https://accounts.yeahgames.net/login"><i class="fa-solid fa-key"></i>&#160;&#160;Log in
                        </a></li>
                    <li><a href="https://accounts.yeahgames.net/logout"><i
                                class="fa-solid fa-right-from-bracket"></i>&#160;&#160;Log out
                        </a></li>
                    <li><a href="https://accounts.yeahgames.net/create"><i
                                class="fa-solid fa-square-plus"></i>&#160;&#160;Create an account
                        </a></li>
                    <li><a href="https://settings.yeahgames.net"><i class="fa-solid fa-gear"></i>&#160;&#160;Settings
                        </a></li>
                    <li><a href="https://members.yeahgames.net"><i
                                class="fa-solid fa-address-card"></i>&#160;&#160;Profiles
                        </a></li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="https://library.yeahgames.net"><i class="fa-solid fa-book-open"></i>&#160;&#160;The Library</a>
            </li>

            <li class="menu-item-has-children">
                <a href="https://archives.yeahgames.net"><i class="fa-solid fa-box-archive"></i>&#160;&#160;The
                    Archives</a>
                <ul class="sub-menu">
                    <li><a href="https://archive.yeahgames.net"><i
                                class="fa-solid fa-signs-post"></i>&#160;&#160;Directory
                        </a></li>
                    <li><a href="https://archive1.yeahgames.net"><i
                                class="fa-solid fa-warehouse"></i>&#160;&#160;Archive 1
                        </a></li>
                    <li><a href="https://archive2.yeahgames.net"><i
                                class="fa-solid fa-warehouse"></i>&#160;&#160;Archive 2
                        </a></li>
                    <li><a href="https://archive3.yeahgames.net"><i
                                class="fa-solid fa-warehouse"></i>&#160;&#160;Archive 3
                        </a></li>
                </ul>
            </li>
            <li class="menu-item-has-children">
                <a href="https://collections.yeahgames.net"><i
                        class="fa-solid fa-folder-open"></i>&#160;&#160;Collections</a>
                <ul class="sub-menu">
                    <li><a href="https://quotes.yeahgames.net"><i
                                class="fa-solid fa-quote-left"></i>&#160;&#160;Quotes</a>
                    </li>
                    <li><a href="https://news.yeahgames.net"><i class="fa-solid fa-newspaper"></i>&#160;&#160;News</a>
                    </li>
                    <li><a href="https://artifacts.yeahgames.net"><i
                                class="fa-solid fa-scroll"></i>&#160;&#160;Artifacts</a>
                    </li>
                    <li><a href="https://docs.yeahgames.net"><i
                                class="fa-solid fa-question-circle"></i>&#160;&#160;Docs</a>
                    </li>
                    <li><a href="https://games.yeahgames.net/archive"><i
                                class="fa-solid fa-dice"></i>&#160;&#160;Games</a>
                    </li>
                    <li><a href="https://yible.yeahgames.net"><i class="fa-solid fa-book"></i>&#160;&#160;Yible</a></li>
                    <li><a href="https://yank.yeahgames.net/archive"><i
                                class="fa-solid fa-money-bill-1-wave"></i>&#160;&#160;Yank</a></li>
                    <li><a href="https://archive.legal.yeahgames.net"><i
                                class="fa-solid fa-scale-balanced"></i>&#160;&#160;Legal</a></li>
                </ul>
            <li class="menu-item">
                <a href="https://chat.yeahgames.net"><i class="fa-solid fa-comments"></i>&#160;&#160;Chat</a>
            </li>

            <li class="menu-item-has-children">
                <a href="https://games.yeahgames.net"><i class="fa-solid fa-gamepad"></i>&#160;&#160;Games</a>
                <ul class="sub-menu">
                    <li><a href="https://arcade.yeahgames.net"><i
                                class="fa-solid fa-circle-play"></i>&#160;&#160;Arcade</a></li>
                    <li><a href="https://arcade.yeahgames.net/sort/all"><i
                                class="fa-solid fa-dice"></i>&#160;&#160;Browse</a></li>
                    <li><a href="https://arcade.yeahgames.net/tools/emulators"><i
                                class="fa-solid fa-flask"></i>&#160;&#160;Emulators</a></li>
                    <li><a href="https://create.games.yeahgames.net"><i
                                class="fa-solid fa-palette"></i>&#160;&#160;Creator</a></li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="https://calendar.yeahgames.net"><i class="fa-solid fa-calendar-days"></i>&#160;&#160;Events</a>
            </li>
            <li class="menu-item-has-children">
                <a href="https://yank.yeahgames.net"><i class="fa-solid fa-bank"></i>&#160;&#160;Yank</a>
                <ul class="sub-menu">
                    <li><a href="https://account.yank.yeahgames.net"><i class="fa-solid fa-user"></i>&#160;&#160;Account
                        </a></li>
                    <li><a href="https://invest.yank.yeahgames.net"><i
                                class="fa-solid fa-chart-line"></i>&#160;&#160;Invest
                        </a></li>
                    <li><a href="https://yvfts.i.yank.yeahgames.net"><i class="fa-solid fa-images"></i>&#160;&#160;YVFTs
                        </a></li>
                    <li><a href="https://stocks.i.yank.yeahgames.net"><i
                                class="fa-solid fa-arrow-trend-up"></i>&#160;&#160;Stocks
                        </a></li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="https://ychool.yeahgames.net"><i class="fa-solid fa-school"></i>&#160;&#160;Ychool</a>
            </li>
            <li class="menu-item">
                <a href="https://yourt.yeahgames.net"><i class="fa-solid fa-gavel"></i>&#160;&#160;Yourt</a>
            </li>
            <li class="menu-item-has-children">
                <a href="https://dev.yeahgames.net"><i class="fa-solid fa-code"></i>&#160;&#160;Development</a>
                <ul class="sub-menu">
                    <li title="The open-source JavaScript and WASM technology powering the yEAh Arcade."><a
                            href="https://dev.yeahgames.net/projects/open/husky.js"><i
                                class="fa-solid fa-shield-dog"></i>&#160;&#160;Husky.js
                        </a></li>
                    <li
                        title="The open-source JavaScript powering yAuth and yLogin: A no-server alternative to traditional oAuth and logins.">
                        <a href="https://dev.yeahgames.net/projects/open/yauth"><i
                                class="fa-solid fa-key"></i>&#160;&#160;yAuth
                        </a>
                    </li>
                    <li title="The open-source JavaScript and Python technology powering the yEAh Twitter Archive."><a
                            href="https://dev.yeahgames.net/projects/open/sndisplay"><i
                                class="fa-solid fa-table-list"></i>&#160;&#160;SNDisplay
                        </a></li>
                    <li><a href="https://dev.yeahgames.net/projects"><i class="fa-solid fa-ellipsis"></i>&#160;&#160;All
                            projects
                        </a></li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="https://dump.yeahgames.net"><i class="fa-solid fa-cloud-arrow-up"></i>&#160;&#160;Upload</a>
            </li>
            <li class="menu-item-has-children">
                <a href="https://sites.yeahgames.net"><i class="fa-solid fa-laptop"></i>&#160;&#160;Sites</a>
                <ul class="sub-menu">
                    <li><a href="https://app.sites.yeahgames.net"><i
                                class="fa-solid fa-ruler-horizontal"></i>&#160;&#160;Builder
                        </a></li>
                    <li><a href="https://sites.yeahgames.net/directory"><i
                                class="fa-solid fa-signs-post"></i>&#160;&#160;Directory
                        </a></li>
                    <li><a href="https://ms.yeahgames.net/"><i class="fa-regular fa-id-card"></i>&#160;&#160;Member
                            sites
                        </a></li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="https://shop.yeahgames.net"><i class="fa-solid fa-shopping-cart"></i>&#160;&#160;Shop</a>
            </li>
            <li class="menu-item">
                <a href="https://www.yeahmail.org"><i class="fa-solid fa-envelope"></i>&#160;&#160;Mail</a>
            </li>
            <li class="menu-item">
                <a href="https://ads.yeahgames.net"><i class="fa-solid fa-rectangle-ad"></i>&#160;&#160;Advertising</a>
            </li>
            <li class="menu-item">
                <a href="https://projects.yeahgames.net"><i
                        class="fa-solid fa-diagram-project"></i>&#160;&#160;Projects</a>
            </li>
            <li class="menu-item">
                <a href="https://admin.yeahgames.net"><i class="fa-solid fa-lock"></i>&#160;&#160;Admin</a>
            </li>
            <li class="menu-item">
                <a href="https://cloud.yeahgames.net"><i class="fa-solid fa-cloud-rain"></i>&#160;&#160;Cloud</a>
            </li>
            <li class="menu-item-has-children">
                <a href="https://servers.yeahgames.net"><i class="fa-solid fa-server"></i>&#160;&#160;Servers</a>
                <ul class="sub-menu">
                    <li><a href="https://server1.yeahgames.net"><i class="fa-solid fa-server"></i>&#160;&#160;Server
                            1</a></li>
                    <li><a href="https://server2.yeahgames.net"><i class="fa-solid fa-server"></i>&#160;&#160;Server
                            2</a></li>
                </ul>
            </li>
            <li class="menu-item-has-children">
                <a href="https://games.yeahgames.net"><i class="fa-solid fa-ellipsis"></i>&#160;&#160;Other</a>
                <ul class="sub-menu">
                    <li><a href="https://twitter.yeahgames.net"><i class="fa-brands fa-twitter"></i>&#160;&#160;The
                            Twitter Archive</a></li>
                    <li><a href="https://cloud.yeahgames.net"><i class="fa-solid fa-cloud"></i>&#160;&#160;yEAh
                            Cloud</a></li>
                    <li><a href="https://cdn.yeahgames.net"><i class="fa-solid fa-globe"></i>&#160;&#160;yEAh CDN</a>
                    </li>
                    <li><a href="https://search.yeahgames.net/data/xml/sitemaps/maps.xml"><i
                                class="fa-solid fa-sitemap"></i>&#160;&#160;Sitemaps</a></li>
                    <li><a href="https://go.yeahgames.net"><i class="fa-solid fa-link"></i>&#160;&#160;URL shortner</a>
                    </li>
                    <li><a href="https://www.yeahgames.net/errors/http/404"><i
                                class="fa-solid fa-link-slash"></i>&#160;&#160;404 page</a></li>
                    <li><a href="https://testing.yeahgames.net"><i class="fa-solid fa-vial-virus"></i>&#160;&#160;yEAh
                            labs</a></li>

                </ul>
            </li>

            <li class="menu-item">


            <li class="menu-item-has-children">
                <a href="https://docs.yeahgames.net/docs/network/deprecation/"><i
                        class="fa-solid fa-x"></i>&#160;&#160;Deprecated</a>
                <ul class="sub-menu">
                    <li><a href="//old.yeahgames.net"><i class="fa-brands fa-pied-piper-hat"></i>&#160;&#160;Old
                            Homepage</a></li>
                    <li><a href="//archives.old.yeahgames.net"><i class="fa-solid fa-archive"></i>&#160;&#160;Old
                            Archives</a></li>
                    <li><a href="//site.old.yeahgames.net"><i class="fa-solid fa-newspaper"></i>&#160;&#160;Old Weebly
                            Site</a></li>
                    <li><a href="//secret.old.yeahgames.net"><i class="fa-solid fa-user-secret"></i>&#160;&#160;Old
                            Secret Website</a></li>
                    <li><a href="//chat.old.yeahgames.net"><i class="fa-solid fa-comments"></i>&#160;&#160;Old
                            Chatrooms</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="atbs-offcanvas__section visible-xs visible-sm">
        <div class="text-center">
        </div>
    </div>
</div><!-- Off-canvas menu -->
<a href="#" title="Back to top." class="atbs-go-top btn btn-default hidden-xs js-go-top-el"><i
        class="fa-solid fa-arrow-up"></i></a>
</div><!-- .site-wrapper -->

<a href="#" title="Back to top." class="atbs-go-top btn btn-default hidden-xs js-go-top-el"><i
        class="fa-solid fa-arrow-up"></i></a>
</div><!-- .site-wrapper -->

<script src="https://cdn.yeahgames.net/js/lib/network/dark/jquery.js"></script>
<script src="https://cdn.yeahgames.net/js/lib/network/dark/sidebar.js"></script>
<script src="https://cdn.yeahgames.net/js/lib/network/dark/owl-carousel.min.js"></script>
<script src="https://cdn.yeahgames.net/js/lib/network/dark/scripts.js"></script>

<!--yAuth-->
<script src="https://accounts.yeahgames.net/system/all/sha256.js" defer></script>
<script src="https://accounts.yeahgames.net/system/validation/main.js" defer></script>
<script src="https://cdn.yeahgames.net/js/script/www/login.js" defer></script>

</body>

</html>