<!-- Sticky header -->
<div id="atbs-sticky-header" class="sticky-header js-sticky-header">
    <!-- Navigation bar -->
    <nav class="navigation-bar navigation-bar--fullwidth hidden-xs hidden-sm">
        <div class="navigation-bar__inner">
            <div class="navigation-bar__section">
                <a href="#atbs-offcanvas-primary"
                    class="offcanvas-menu-toggle navigation-bar-btn js-atbs-offcanvas-toggle">
                    <i class="fa-solid fa-bars"></i>
                </a>
                <div class="site-logo header-logo">
                    <a href="https://www.yeahgames.net">
                        <img src="https://cdn.yeahgames.net/img/branding/logos/default/logo.svg" alt="logo">
                    </a>
                </div>
            </div>

            <div class="navigation-wrapper navigation-bar__section js-priority-nav">
            </div>

        </div> <!-- .navigation-bar__inner -->
    </nav><!-- Navigation-bar -->
</div><!-- Sticky header -->
<!-- Off-canvas menu -->
<div id="atbs-offcanvas-primary" class="atbs-offcanvas js-atbs-offcanvas js-perfect-scrollbar">
    <div class="atbs-offcanvas__title">

        <h2 class="site-logo"><a href="//yeahgames.net"><img
                    src="https://cdn.yeahgames.net/img/branding/logos/text/red.png" alt="logo"></a></h2>
        <br>
        <ul class="social-list list-horizontal">
            <li><a href="//yeahgames.net/discord" target="_blank" title="yEAh Games' official Discord server."><i
                        class="fa-brands fa-discord"></i></a></li>
            <li><a href="mailto:admin@yeahgames.net" title="Email yEAh Games!" target="_blank"><i
                        class="fa-solid fa-envelope"></i></a></li>
            <li><a href="https://github.com/yEAh-Games" title="yEAh Games' official GitHub account." target="_blank"><i
                        class="fa-brands fa-github"></i></a></li>
            <li><a href="https://www.youtube.com/@yeahgames" title="yEAh Games' official YouTube channel"
                    target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
            <li><a href="https://www.reddit.com/r/yEAhGames/" title="yEAh Games' official subreddit." target="_blank"><i
                        class="fa-brands fa-reddit"></i></a></li>
            <li><a href="https://mstdn.social/@yeah" rel="me"
                    title="yEAh Games' official Mastodon account. Most news will be posted here." target="_blank"><i
                        class="fa-brands fa-mastodon"></i></a></li>
            <li><a href="https://twitter.com/yEAhGames_" title="yEAh Games' official Twitter account."
                    target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="//instagram.com/_yEAhGames" title="yEAh Games' official Instagram account." target="_blank"><i
                        class="fa-brands fa-instagram"></i></a></li>
        </ul>
        <a href="#atbs-offcanvas-primary" class="atbs-offcanvas-close js-atbs-offcanvas-close" aria-label="Close"><span
                aria-hidden="true">&#10005;</span></a>
    </div>

    <div class="atbs-offcanvas__section atbs-offcanvas__section-navigation">
        <ul id="menu-offcanvas-menu" class="navigation navigation--offcanvas">
            <li class="menu-item">
                <a href="https://www.yeahgames.net"><i class="fa-solid fa-home"></i>&#160;&#160;Homepage</a>
            </li>
            <li class="menu-item">
                <a href="https://search.yeahgames.net/search"><i
                        class="fa-solid fa-magnifying-glass"></i>&#160;&#160;Search</a>
            </li>

            <li class="menu-item">
                <a href="https://library.yeahgames.net"><i class="fa-solid fa-book-open"></i>&#160;&#160;The Library</a>
            </li>

            <li class="menu-item-has-children">
                <a href="https://archives.yeahgames.net"><i class="fa-solid fa-box-archive"></i>&#160;&#160;The
                    Archives</a>
                <ul class="sub-menu">
                    <li><a href="https://archive.yeahgames.net"><i
                                class="fa-solid fa-signs-post"></i>&#160;&#160;Directory
                            1</a></li>
                    <li><a href="https://archive1.yeahgames.net"><i
                                class="fa-solid fa-warehouse"></i>&#160;&#160;Archive 1
                            2</a></li>
                    <li><a href="https://archive2.yeahgames.net"><i
                                class="fa-solid fa-warehouse"></i>&#160;&#160;Archive 2
                            2</a></li>
                    <li><a href="https://archive3.yeahgames.net"><i
                                class="fa-solid fa-warehouse"></i>&#160;&#160;Archive 3
                            2</a></li>
                </ul>
            </li>
            <li class="menu-item-has-children">
                <a href="https://collections.yeahgames.net"><i
                        class="fa-solid fa-folder-open"></i>&#160;&#160;Collections</a>
                <ul class="sub-menu">
                    <li><a href="https://quotes.yeahgames.net"><i
                                class="fa-solid fa-quote-left"></i>&#160;&#160;Quotes</a>
                    </li>
                    <li><a href="https://news.yeahgames.net"><i class="fa-solid fa-newspaper"></i>&#160;&#160;News</a>
                    </li>
                    <li><a href="https://docs.yeahgames.net"><i
                                class="fa-solid fa-question-circle"></i>&#160;&#160;Docs</a>
                    </li>
                    <li><a href="https://games.yeahgames.net/archive"><i
                                class="fa-solid fa-dice"></i>&#160;&#160;Games</a>
                    </li>
                    <li><a href="https://yible.yeahgames.net"><i class="fa-solid fa-book"></i>&#160;&#160;Yible</a></li>
                    <li><a href="https://yank.yeahgames.net/archive"><i
                                class="fa-solid fa-money-bill-1-wave"></i>&#160;&#160;Yank</a></li>
                    <li><a href="https://archive.legal.yeahgames.net"><i
                                class="fa-solid fa-scale-balanced"></i>&#160;&#160;Legal</a></li>
                </ul>
            <li class="menu-item">
                <a href="https://chat.yeahgames.net"><i class="fa-solid fa-comments"></i>&#160;&#160;Chat</a>
            </li>

            <li class="menu-item-has-children">
                <a href="https://games.yeahgames.net"><i class="fa-solid fa-gamepad"></i>&#160;&#160;Games</a>
                <ul class="sub-menu">
                    <li><a href="https://arcade.yeahgames.net"><i
                                class="fa-solid fa-circle-play"></i>&#160;&#160;Arcade</a></li>
                    <li><a href="https://arcade.yeahgames.net/sort/all"><i
                                class="fa-solid fa-dice"></i>&#160;&#160;Browse</a></li>
                    <li><a href="https://arcade.yeahgames.net/tools/emulators"><i
                                class="fa-solid fa-flask"></i>&#160;&#160;Emulators</a></li>
                    <li><a href="https://create.games.yeahgames.net"><i
                                class="fa-solid fa-palette"></i>&#160;&#160;Creator</a></li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="https://calendar.yeahgames.net"><i class="fa-solid fa-calendar-days"></i>&#160;&#160;Events</a>
            </li>
            <li class="menu-item-has-children">
                <a href="https://yank.yeahgames.net"><i class="fa-solid fa-bank"></i>&#160;&#160;Yank</a>
                <ul class="sub-menu">
                    <li><a href="https://account.yank.yeahgames.net"><i class="fa-solid fa-user"></i>&#160;&#160;Account
                        </a></li>
                    <li><a href="https://invest.yank.yeahgames.net"><i
                                class="fa-solid fa-chart-line"></i>&#160;&#160;Invest
                        </a></li>
                    <li><a href="https://yvfts.i.yank.yeahgames.net"><i class="fa-solid fa-images"></i>&#160;&#160;YVFTs
                        </a></li>
                    <li><a href="https://stocks.i.yank.yeahgames.net"><i
                                class="fa-solid fa-arrow-trend-up"></i>&#160;&#160;Stocks
                        </a></li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="https://ychool.yeahgames.net"><i class="fa-solid fa-school"></i>&#160;&#160;Ychool</a>
            </li>
            <li class="menu-item">
                <a href="https://yourt.yeahgames.net"><i class="fa-solid fa-gavel"></i>&#160;&#160;Yourt</a>
            </li>
            <li class="menu-item-has-children">
                <a href="https://dev.yeahgames.net"><i class="fa-solid fa-code"></i>&#160;&#160;Development</a>
                <ul class="sub-menu">
                    <li title="The open-source JavaScript and WASM technology powering the yEAh Arcade."><a
                            href="https://dev.yeahgames.net/projects/open/husky.js"><i
                                class="fa-solid fa-shield-dog"></i>&#160;&#160;Husky.js
                        </a></li>
                    <li
                        title="The open-source JavaScript powering yAuth and yLogin: A no-server alternative to traditional oAuth and logins.">
                        <a href="https://dev.yeahgames.net/projects/open/yauth"><i
                                class="fa-solid fa-key"></i>&#160;&#160;yAuth
                        </a></li>
                    <li title="The open-source JavaScript and Python technology powering the yEAh Twitter Archive."><a
                            href="https://dev.yeahgames.net/projects/open/sndisplay"><i
                                class="fa-solid fa-table-list"></i>&#160;&#160;SNDisplay
                        </a></li>
                    <li><a href="https://dev.yeahgames.net/projects"><i
                                class="fa-solid fa-ellipsis"></i>&#160;&#160;More
                        </a></li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="https://dump.yeahgames.net"><i class="fa-solid fa-cloud-arrow-up"></i>&#160;&#160;Upload</a>
            </li>
            <li class="menu-item-has-children">
                <a href="https://sites.yeahgames.net"><i class="fa-solid fa-laptop"></i>&#160;&#160;Sites</a>
                <ul class="sub-menu">
                    <li><a href="https://app.sites.yeahgames.net"><i
                                class="fa-solid fa-ruler-horizontal"></i>&#160;&#160;Builder
                        </a></li>
                    <li><a href="https://sites.yeahgames.net/directory"><i
                                class="fa-solid fa-signs-post"></i>&#160;&#160;Directory
                        </a></li>
                    <li><a href="https://ms.yeahgames.net/"><i class="fa-regular fa-id-card"></i>&#160;&#160;Member
                            sites
                        </a></li>
                </ul>
            </li>
            <li class="menu-item">
                <a href="https://shop.yeahgames.net"><i class="fa-solid fa-shopping-cart"></i>&#160;&#160;Shop</a>
            </li>
            <li class="menu-item">
                <a href="https://www.yeahmail.org"><i class="fa-solid fa-envelope"></i>&#160;&#160;Mail</a>
            </li>
            <li class="menu-item">
                <a href="https://ads.yeahgames.net"><i class="fa-solid fa-rectangle-ad"></i>&#160;&#160;Advertising</a>
            </li>
            <li class="menu-item">
                <a href="https://projects.yeahgames.net"><i
                        class="fa-solid fa-diagram-project"></i>&#160;&#160;Projects</a>
            </li>
            <li class="menu-item">
                <a href="https://admin.yeahgames.net"><i class="fa-solid fa-lock"></i>&#160;&#160;Admin</a>
            </li>

            <li class="menu-item-has-children">
                <a href="https://servers.yeahgames.net"><i class="fa-solid fa-server"></i>&#160;&#160;Servers</a>
                <ul class="sub-menu">
                    <li><a href="https://server1.yeahgames.net"><i class="fa-solid fa-server"></i>&#160;&#160;Server
                            1</a></li>
                    <li><a href="https://server2.yeahgames.net"><i class="fa-solid fa-server"></i>&#160;&#160;Server
                            2</a></li>
                </ul>
            </li>
            <li class="menu-item-has-children">
                <a href="https://games.yeahgames.net"><i class="fa-solid fa-ellipsis"></i>&#160;&#160;Other</a>
                <ul class="sub-menu">
                    <li><a href="https://twitter.yeahgames.net"><i class="fa-brands fa-twitter"></i>&#160;&#160;The
                            Twitter Archive</a></li>
                    <li><a href="https://search.yeahgames.net/data/xml/sitemaps/maps.xml"><i
                                class="fa-solid fa-sitemap"></i>&#160;&#160;Sitemaps</a></li>
                    <li><a href="https://go.yeahgames.net"><i class="fa-solid fa-link"></i>&#160;&#160;URL shortner</a>
                    </li>
                    <li><a href="https://www.yeahgames.net/errors/http/404"><i
                                class="fa-solid fa-link-slash"></i>&#160;&#160;404 page</a></li>
                    <li><a href="https://testing.yeahgames.net"><i class="fa-solid fa-vial-virus"></i>&#160;&#160;yEAh labs</a></li>

                </ul>
            </li>

            <li class="menu-item">


            <li class="menu-item-has-children">
                <a href="//go.yeahgames.net/yeahroll"><i class="fa-solid fa-x"></i>&#160;&#160;Deprecated</a>
                <ul class="sub-menu">
                    <li><a href="//old.yeahgames.net"><i class="fa-brands fa-pied-piper-hat"></i>&#160;&#160;Old
                            Homepage</a></li>
                    <li><a href="//archives.old.yeahgames.net"><i class="fa-solid fa-archive"></i>&#160;&#160;Old
                            Archives</a></li>
                    <li><a href="//site.old.yeahgames.net"><i class="fa-solid fa-newspaper"></i>&#160;&#160;Old Weebly
                            Site</a></li>
                    <li><a href="//secret.old.yeahgames.net"><i class="fa-solid fa-user-secret"></i>&#160;&#160;Old
                            Secret Website</a></li>
                    <li><a href="//chat.old.yeahgames.net"><i class="fa-solid fa-comments"></i>&#160;&#160;Old
                            Chatrooms</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="atbs-offcanvas__section visible-xs visible-sm">
        <div class="text-center">
        </div>
    </div>
</div><!-- Off-canvas menu -->
<a href="#" title="Back to top." class="atbs-go-top btn btn-default hidden-xs js-go-top-el"><i class="fa-solid fa-arrow-up"></i></a>
</div><!-- .site-wrapper -->

<a href="#" title="Back to top." class="atbs-go-top btn btn-default hidden-xs js-go-top-el"><i class="fa-solid fa-arrow-up"></i></a>
</div><!-- .site-wrapper -->

<script src="https://cdn.yeahgames.net/js/lib/network/dark/jquery.js"></script>
<script src="https://cdn.yeahgames.net/js/lib/network/dark/sidebar.js"></script>
<script src="https://cdn.yeahgames.net/js/lib/network/dark/owl-carousel.min.js"></script>
<script src="https://cdn.yeahgames.net/js/lib/network/dark/scripts.js"></script>
</body>

</html>