<body class="home home-1 has-block-heading-line">
    <!-- .site-wrapper -->
    <div class="site-wrapper">
        <!-- Site header -->
        <header class="site-header">
            <!-- Mobile header -->
            <div id="atbs-mobile-header" class="mobile-header visible-xs visible-sm">
                <div class="mobile-header__inner mobile-header__inner--flex">
                    <div class="header-branding header-branding--mobile mobile-header__section text-left">
                        <div class="header-logo header-logo--mobile flexbox__item text-left">
                            <a href="https://www.yeahgames.net">
                                <img src="https://cdn.yeahgames.net/img/branding/logos/text/red.svg" alt="logo">
                            </a>
                        </div>
                    </div>

                    <div class="mobile-header__section text-right inverse-text" title="Open the full sidebar index.">
                        <a href="#atbs-offcanvas-primary"
                            class="offcanvas-menu-toggle mobile-header-btn js-atbs-offcanvas-toggle">
                            <i class="fa-solid fa-bars"></i>
                        </a>
                    </div>

                </div>
            </div><!-- Mobile header -->

            <div class="header-main hidden-xs hidden-sm">
                <a href="#atbs-offcanvas-primary"
                    class="offcanvas-menu-toggle navigation-bar-btn js-atbs-offcanvas-toggle btn-menu-bar-icon flex-box align-item-center"
                    title="Open the full sidebar index.">
                    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="20.75" viewBox="0 0 27 20.75">
                        <path id="Path_1521" data-name="Path 1521" d="M4,6H29M4,15.375H29M4,24.75H14.938"
                            transform="translate(-3 -5)" fill="none" stroke="#fff" stroke-linecap="round"
                            stroke-linejoin="round" stroke-width="2" />
                    </svg>
                </a>

                <div class="header-social header-social-vertical">
                    <ul class="social-list social-list--sm list-horizontal social-list--inverse">
                        <li><a href="https://www.yeahgames.net/discord" target="_blank"
                                title="yEAh Games' official Discord server."><i class="fa-brands fa-discord"></i></a>
                        </li>
                        <li><a href="mailto:admin@yeahgames.net" title="Email yEAh Games!" target="_blank"><i
                                    class="fa-solid fa-envelope"></i></a></li>
                        <li><a href="https://github.com/yEAh-Games" title="yEAh Games' official GitHub account."
                                target="_blank"><i class="fa-brands fa-github"></i></a></li>
                        <li><a href="https://www.youtube.com/@yeahgames" title="yEAh Games' official YouTube channel"
                                target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                        <li><a href="https://mstdn.social/@yeah" rel="me"
                                title="yEAh Games' official Mastodon account. Most news will be posted here."
                                target="_blank"><i class="fa-brands fa-mastodon"></i></a></li>
                        <li><a href="https://twitter.com/yEAhGames_" title="yEAh Games' official Twitter account."
                                target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                        <li><a href="https://instagram.com/_yEAhGames" title="yEAh Games' official Instagram account."
                                target="_blank"><i class="fa-brands fa-instagram"></i></a></li>


                    </ul>
                </div>
            </div>
            <!-- Navigation bar -->
            <nav class="navigation-bar hidden-xs hidden-sm js-sticky-header-holder">

                <div class="navigation-bar__section flex-box align-item-center"
                    style="float:right!important;right:0px!important">
                    <div class="header-logo">
                        <div title="Loading your yEAh network account..." id="loadingContainer"></div>
                        <div id="loginContainer" style="float:right!important"></div>
                        <div id="profileContainer">
                            <div id="profilePicture"></div>
                            <div id="dropdownContainer">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="navigation-bar__inner flexbox-wrap flexbox-center-y">
                    <div class="navigation-bar__section flex-box align-item-center">
                        <div class="header-logo">
                            <a href="https://www.yeahgames.net">
                                <img src="https://cdn.yeahgames.net/img/branding/logos/text/red.svg"
                                    alt="File not found" width="70%">

                            </a>
                        </div>
                    </div>

                    <div class="navigation-bar__section">
                        <button type="submit" title="Navigation bar"
                            class="navigation-bar-search navigation-bar-btn js-search-dropdown-toggle"></button>
                    </div>
                </div><!-- .navigation-bar__inner -->
            </nav><!-- Navigation-bar -->
        </header><!-- Site header -->